body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(19, 153, 231);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.smiley {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.smiley:hover {
  cursor: pointer;
}

.help-improve {
  background: #1a1919;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: help-improve-animation 400ms linear;
  animation-fill-mode: forwards;
}

@keyframes help-improve-animation {
  0%   { width: 100px; }
  25%  { width: 100px; }
  50%  { width: 130px; }
  75%  { width: 170px; }
  100% { width: 200px; }
}

.help-improve-text {
  white-space: nowrap;
  margin: auto;
  position: relative;
  opacity: 0;
  animation: help-improve-text-animation 700ms linear;
  animation-fill-mode: forwards;
}

@keyframes help-improve-text-animation {
  0%  { left: -20px; opacity: 0; }
  100% { left: 0px; opacity: 1; }
}

.help-improve:hover {
  cursor: pointer;
}

.rate-experience {
  width: 450px;
  height: 185px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-radius: 5px;
  background-color: white;
  animation: rate-experience-animation 500ms linear;
  animation-fill-mode: forwards;
}

@keyframes rate-experience-animation {
  0%   { width: 300px; height: 55px; }
  20%  { width: 350px; height: 74px; }
  50%  { width: 400px; height: 185px; }
  70%  { width: 420px; }
  100% { width: 450px; }
}

.rate-experience-close {
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
}

.rate-experience-title {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: larger;

  position: relative;
  animation: rate-experience-title-animation 500ms linear;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

@keyframes rate-experience-title-animation {
  from { opacity: 0; bottom: 30px; }
  to { opacity: 1; bottom: 10px; }
}

.rate-experience-scores-container {
  padding: 0px 60px 30px 60px;
  opacity: 0;

  position: relative;
  animation: rate-experience-scores-container-animation 500ms linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes rate-experience-scores-container-animation {
  from { opacity: 0; bottom: 20px; }
  to { opacity: 1; bottom: 0px; }
}

.rate-experience-score {
  width: 50px;
  height: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  align-items: center;
  border-right: 2px solid #1a1919;
  border-top: 2px solid #1a1919;
  border-bottom: 2px solid #1a1919;
  background-color: white;
}

.rate-experience-score:hover {
  cursor: pointer;
  background-color: lightgray;
}

.rate-experience-score-start {
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  border-left: 2px solid #1a1919;
}

.rate-experience-score-end {
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}

.rate-experience-caption-not-satisfied {
  float: left;
}

.rate-experience-caption-satisfied {
  float: right;
}

.thank-you {
  background-color: white;
  font-weight: bold;
  width: 400px;
  height: 150px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: thank-you-animation 2s linear;
  animation-fill-mode: forwards;
}

@keyframes thank-you-animation {
  to { visibility: hidden; }
}

.thank-you-smiley {
  width: 50px;
  height: 50px;
  padding: 10px;

  opacity: 0;
  position: relative;
  animation: thank-you-smiley-animation 300ms linear;
  animation-fill-mode: forwards;
}

@keyframes thank-you-smiley-animation {
  from { opacity: 0; }
  to { opacity: 1; }
}

.questions-container {
  background-color: whitesmoke;
  width: 300px;
  height: 480px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  border-radius: 5px;
  left: 10px;
  bottom: 10px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  visibility: hidden;
  animation: questions-container-animation 400ms linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes questions-container-animation {
  0%   { visibility: visible; width: 400px; height: 250px; }
  20%  { visibility: visible; width: 370px; height: 310px; }
  50%  { visibility: visible; width: 340px; height: 370px; }
  70%  { visibility: visible; width: 320px; height: 430px; }
  100% { visibility: visible; width: 300px; height: 480px; }
}

.questions-header {
  background-color: rgb(34, 36, 36);
  color: white;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  margin-top:-20px;
}

.questions-close {
  text-align: right;
  margin-top: 15px;
  margin-right: 5px;
}

.questions-title {
  color: white;
  text-align: center;
  font-weight: bold;

  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-top:-30px;
  padding-bottom: 1px;
}

.question-text {
  padding-left: 15px;
}

.question-input {
  border: 1px solid #ccc!important;
  padding: 8px;
  display: block;
  width: 250px;
  justify-content: center;
  align-items: center;
  margin : 0 auto;
  border-radius: 5px;
}

.question-textarea {
  border: 1px solid #ccc!important;
  padding: 8px;
  display: block;
  width: 250px;
  justify-content: center;
  align-items: center;
  margin : 0 auto;
  border-radius: 5px;
  resize: none;
}

.linear-scale-container {
  display: block;
  width: 250px;
  justify-content: center;
  align-items: center;
  margin : 0 auto;
}

.btn {
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  margin: 20px;
  float: right;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn:disabled {
  background: #8b8989;
}

.thank-you-feedback {
  width: 450px;
  height: 185px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-radius: 5px;
  background-color: white;
  animation: thank-you-feedback-animation 3s linear;
  animation-fill-mode: forwards;
}

@keyframes thank-you-feedback-animation {
  0%   { width: 300px; height: 480px; }
  20%  { width: 375px; height: 300px; }
  40% { width: 450px; height: 185px; }
  100% { visibility: hidden; }
}

.thank-you-title {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.thank-you-feedback-important {
  font-size: larger;
  text-align: center;
}